@charset "UTF-8";

form {
    width: 500px;
    margin: auto;
}

input, textareax {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,.8);
}
input:hover, textarea:hover{
    background-color: #dddddd;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}
fieldset {
    border-color: #cecece;
    margin: 20px;
}
fieldset#sexo {
    width: 150px ;
}
fieldset#usuario {
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
    background-position: left;
}
fieldset#endereco {
    background: url("../_imagens/icone-endereco.png") no-repeat 95px 95px;
    background-position: left;
}
fieldset#mensagem {
    background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
    background-position: left;
}
fieldset#pedido {
    background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
    background-position: left;
}

header#cabecalho{
    margin-top: 4.1%;
}

@media only screen and (max-width: 742px){

    fieldset#usuario, fieldset#endereco, fieldset#mensagem, fieldset#pedido{
        background-position: center;
    }

    form{
        width: 400px;
    }

    .ajuste{
        margin-left: -20%;
    }

    .ajuste1{
        margin-left: -8%;
    }

    .ajuste2{
        margin-left: -20%;
    }

    .ajuste3{
        margin-left: -7%;
    }

    .disponivel{
        margin-left: 14%;
    }

}