@charset "UTF-8";

section#conteudo {
    width: 100%;
    margin: auto;
    border: 1px solid black;
}

iframe#frame-spec {
    height: 280px;
    border: none;
    float: right;
}

iframe#frame-spec::-webkit-scrollbar {
    display: none;
}

header#cabecalho{
    margin-top: 4.1%;
}

div#interface{
    width: 70%;
    background-color: #ffffff;
    margin:-20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
}

@media only screen and (max-width: 742px){
    div#interface{
        width: 100%;
    }
}